.Converter {
  width: 80%;
  height: 80%;
  justify-content: center;
  padding: 0 15%;
  box-sizing: border-box;
}
.Form {
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.Form input,
select {
  padding: 5px;
  margin: 5px 10px;
  border-radius: 5px;
  border: 1px solid rgba(119, 119, 119, 0.5);
}
.Form button {
  padding: 5px 10px;
  border-radius: 5px;
  background: maroon;
  color: white;
  border: none;
  height: 20px;
  line-height: 0.3rem;
}
.Converter h3 {
  background-color: #ccc;
  border-radius: 10px;
  padding: 15px;
  font-size: 30px;
}
.Converter h2 span {
  color: maroon;
}
.row {
  border: 1px solid maroon;
  border-radius: 4px;
  margin: 10px;
  width: 90%;
  justify-content: center;
  height: 30px;
}
