.Converter {
  padding: 0 15%;
  box-sizing: border-box;
  background-color: grey;
  padding-bottom: 1rem;
}

.logo-container {
  justify-items: baseline;
  background-color: #d3d3d3;
  display: flex;
  border-radius: 4px;
}

.logo-wrapper {
  width: 75%;
}

.oc-title {
  font-weight: bold;
  color: maroon;
  width: 50%;
}

.mdisplay {
  background-color: maroon;
  border: 1px solid dimgray;
  padding-inline: 20px;
  padding-block: 10px;
  border-radius: 10px;
  justify-items: center;
  justify-content: space-between;
  display: flex;
}

.equivalence {
  color: white;
}

.clear-all {
  border-radius: 4px;
  font-weight: bold;
}

.Tbl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #d3d3d3;
  border-radius: 10px;
}

.header-row {
  background-color: maroon;
  display: flex;
  border-radius: 4px;
  margin: 5px;
  justify-content: space-between;
  height: 30px;
  width: 98%;
  padding-inline: 3%;
}

.tableheader {
  color: white;
}

.row {
  border: 2px solid #808080;
  display: flex;
  border-radius: 4px;
  margin: 3px;
  width: 100%;
  justify-content: space-between;
  width: 98%;
}

.dose-input {
  display: flex;
  height: 20px;
  width: 200%;
  border: 2px solid maroon;
}


.Tbl td {
  width: 20%;
}

.Tbl input,
select {
  padding: 5px;
  margin: 5px 10px;
  border-radius: 5px;
  border: 1px solid maroon;
}

.Tbl button {
  padding: 5px 10px;
  border-radius: 5px;
  background: maroon;
  color: white;
  border: none;
  height: 20px;
  line-height: 0.3rem;
}